# Derived Data
Build
phone.cin
phone.cin-CNS11643-complete.patch
tsi.src
tsi-chs.src
data-plain-bpmf.txt
data-plain-bpmf-chs.txt
data.txt
data-chs.txt

# Misc
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
BPMFBase.txt
BPMFMappings.txt
phrase.list
phrase.occ
PhraseFreq.txt
tmp
.!*.txt
~$*
.~*

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
BPMFMappings-tmp.txt
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
.vscode
tsi.src
tsi-cht.src
data-cht.txt
