._*
.!*.txt
.~*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.vscode
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/settings.json
.vscode/targets.log
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
~$*
bin/cook_mac.exe
bin/dataCompiler.exe
bin/libchewing-database-initializer/init_database
BPMFBase.txt
BPMFMappings-tmp.txt
BPMFMappings.txt
Build
data-*.json
data-*.plist
data-bpmf-reverse-lookup.plist
data-bpmf-reverse-lookup-CNS*.plist
data-chs.txt
data-cht.txt
data-plain-bpmf-chs.txt
data-plain-bpmf.txt
data.txt
Icon
mcbopomofo-data.txt
Network Trash Folder
phone.cin
phone.cin-CNS11643-complete.patch
phrase.list
phrase.occ
PhraseFreq.txt
Temporary Items
tmp
tsi-chs.src
tsi-cht.src
tsi.src
